name: test
on:
  pull_request:
  push:
    branches:
      - main
      - renovate/*
  workflow_dispatch:
jobs:
  push:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Build and push image
        run: bazelisk test //...
